# .env.example
# URL base para las consultas GraphQL a Backend
VITE_BACKEND_GRAPHQL_URL=https://kcstaging.mitimiti.com/graphql

# Identificador de entorno (local, development, qa o production)
VITE_ENV=local

# Tiempo de expiración de token en minutos (default: 30)
VITE_TOKEN_EXPIRATION_TIME=30

# Tiempo de inactividad antes de cerrar sesión en minutos (default: 1)
VITE_INACTIVITY_TIMEOUT=30
